table.sortable {
  .header {
    cursor: pointer;

    .material-icons {
      display: none;
      float: right;
      color: $lighter;
      font-size: 1rem;
      margin: 4px 0px;
    }

    &.headerSortDown  {
      .material-icons.up  {
        display: block;
      }
    }

    &.headerSortUp  {
      .material-icons.down {
        display: block;
      }
    }
  }
}

table {
  .action-cell {
    width: 30px;
  }

  .btn-floating {
    width: 30px;
    height: 30px;
    line-height: 30px;

    i {
      font-size: 1.2rem;
      line-height: 30px;
    }
  }
}

table.compact {
  td, th {
    padding: 5px;
  }
}
