p {
  &.with-margin {
    margin-bottom: $baseMargin!important;
  }

  &.smaller {
    font-size: 0.8em;
    font-style: italic;
  }
}

a {
  &:hover {
    text-decoration: underline;
  }
}

ul.button-list {
  li {
    margin-bottom: 10px;
  }
}

.small-info {
  font-style: italic;
  font-size: 0.9rem;
  color: lightgray;
  display: block;
  margin-top: 10px;

  .material-icons {
    position: relative;
    top: 2px;
    font-size: 1.2em;
  }
}
