$darkest: #263238;
$darker: #37474f;
$dark: #455a64;
$medium: #546e7a;
$light: #90a4ae;
$lighter: #b0bec5;
$lightest: #cfd8dc;


$baseMargin: 20px;

$camping: #8bc34a; //lightgreen
$chalet: #009688; //teal

$checkedin: #4caf50;
$checkedout: #f44336;
